DATABASE_URL=postgres://postgres:sua_senha@localhost:5432/fenix
PGHOST=localhost
PGPORT=5432
PGDATABASE=fenix
PGUSER=postgres
PGPASSWORD=sua_senha
PSQL_PATH=C:\Program Files\PostgreSQL\18\bin\psql.exe
PGDUMP_PATH=C:\Program Files\PostgreSQL\18\bin\pg_dump.exe
