NODE_ENV=development
HOST=127.0.0.1
PORT=4173

PGHOST=localhost
PGPORT=5432
PGDATABASE=fenix
PGUSER=postgres
PGPASSWORD=sua_senha_local

PSQL_PATH=C:\Program Files\PostgreSQL\18\bin\psql.exe
PGDUMP_PATH=C:\Program Files\PostgreSQL\18\bin\pg_dump.exe

SANTUSERP_GLOBAL_ADMIN_EMAILS=admin@santus.com
SANTUSERP_SECURE_COOKIES=false
