NODE_ENV=staging
HOST=127.0.0.1
PORT=4174

PGHOST=localhost
PGPORT=5432
PGDATABASE=santuserp_staging
PGUSER=santuserp_staging
PGPASSWORD=troque_esta_senha

PSQL_PATH=C:\Program Files\PostgreSQL\18\bin\psql.exe
PGDUMP_PATH=C:\Program Files\PostgreSQL\18\bin\pg_dump.exe

SANTUSERP_GLOBAL_ADMIN_EMAILS=admin@santus.com
SANTUSERP_SECURE_COOKIES=false
